# Editors
.vscode/
.idea/

# Node modules & Lockfiles
**/node_modules/
**/package-lock.json
**/yarn.lock

# Strapi build / data
/backend/.cache/
/backend/.tmp/
/backend/build/
/backend/dist/
/backend/data.db
/backend/*.sqlite*
!/backend/.gitkeep

# Next.js build
/storefront/.next/
/storefront/.next/**

# Logs, OS, Misc
npm-debug.log*
yarn-debug.log*
.DS_Store
Thumbs.db
coverage/
